body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blue {
    background-color: blue;
    padding: 20px;
}

.yellow{
     background-color: yellow;
     padding: 20px;
     margin: 10px;

}
.lado{
    background-color: yellow;
    padding-left: 80px;
}

.baixo{
    background-color: yellow;
    padding-bottom: 80px;

}

.flex{
    display: flex;

}

.diminuir{
    background-color: yellow;
    padding-bottom: 70px;

}

.sobe{
    background-color: yellow;
    padding-top: 80px;
}