body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blue {
    background-color: blue;
    padding: 20px;
}

.yellow{
     background-color: yellow;
     padding: 20px;
     margin: 10px;

}
.red{
    background-color: yellow;
    padding-left: 80px;
}

.flex{
    display: flex;
}